.footer{
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
}
@media (min-width: 576px) and (max-width: 991px) {
  .container {
    padding-left: 0;
  }
}
@media (max-width: 480px) {
  .footer {
    height: 100px;
  }
}
