.cards {
  display: flex;
}
.cards .card:nth-child(1){
  flex: .25;
}
h5, p {
  margin: 0;
}
h5 {
  margin-bottom: 10px;
}
p {
  color: rgb(190, 190, 190);
}
.bg-custom {
  background: rgb(57, 63, 77);
}
