13:10:43.812 2047 [main] INFO  c.o.practice.bts.BtsApplication - Starting BtsApplication on OPTIMUS with PID 14068 (C:\Users\wozni\Desktop\BankSystem\backend\target\classes started by wozni in C:\Users\wozni\Desktop\BankSystem)
13:10:43.818 2053 [main] DEBUG c.o.practice.bts.BtsApplication - Running with Spring Boot v2.0.3.RELEASE, Spring v5.0.7.RELEASE
13:10:43.822 2057 [main] INFO  c.o.practice.bts.BtsApplication - No active profile set, falling back to default profiles: default
13:10:52.407 10642 [main] INFO  c.o.practice.bts.BtsApplication - Started BtsApplication in 9.602 seconds (JVM running for 11.229)
13:10:52.412 10647 [main] INFO  c.o.practice.bts.BtsApplication - TESTING LOGGER INFO
13:10:52.413 10648 [main] DEBUG c.o.practice.bts.BtsApplication - TESTING LOGGER DEBUG
13:11:14.629 2046 [main] INFO  c.o.practice.bts.BtsApplication - Starting BtsApplication on OPTIMUS with PID 9968 (C:\Users\wozni\Desktop\BankSystem\backend\target\classes started by wozni in C:\Users\wozni\Desktop\BankSystem)
13:11:14.640 2057 [main] DEBUG c.o.practice.bts.BtsApplication - Running with Spring Boot v2.0.3.RELEASE, Spring v5.0.7.RELEASE
13:11:14.654 2071 [main] INFO  c.o.practice.bts.BtsApplication - No active profile set, falling back to default profiles: default
13:11:23.013 10430 [main] INFO  c.o.practice.bts.BtsApplication - Started BtsApplication in 9.367 seconds (JVM running for 11.025)
13:11:23.018 10435 [main] INFO  c.o.practice.bts.BtsApplication - TESTING LOGGER INFO
13:11:23.018 10435 [main] DEBUG c.o.practice.bts.BtsApplication - TESTING LOGGER DEBUG
13:11:51.180 2121 [main] INFO  c.o.practice.bts.BtsApplication - Starting BtsApplication on OPTIMUS with PID 9804 (C:\Users\wozni\Desktop\BankSystem\backend\target\classes started by wozni in C:\Users\wozni\Desktop\BankSystem)
13:11:51.207 2148 [main] DEBUG c.o.practice.bts.BtsApplication - Running with Spring Boot v2.0.3.RELEASE, Spring v5.0.7.RELEASE
13:11:51.211 2152 [main] INFO  c.o.practice.bts.BtsApplication - No active profile set, falling back to default profiles: default
13:12:00.096 11037 [main] INFO  c.o.practice.bts.BtsApplication - Started BtsApplication in 9.876 seconds (JVM running for 11.677)
13:12:00.102 11043 [main] INFO  c.o.practice.bts.BtsApplication - TESTING LOGGER INFO
13:12:00.102 11043 [main] DEBUG c.o.practice.bts.BtsApplication - TESTING LOGGER DEBUG
13:12:44.762 2183 [main] INFO  c.o.practice.bts.BtsApplication - Starting BtsApplication on OPTIMUS with PID 11904 (C:\Users\wozni\Desktop\BankSystem\backend\target\classes started by wozni in C:\Users\wozni\Desktop\BankSystem)
13:12:44.771 2192 [main] DEBUG c.o.practice.bts.BtsApplication - Running with Spring Boot v2.0.3.RELEASE, Spring v5.0.7.RELEASE
13:12:44.795 2216 [main] INFO  c.o.practice.bts.BtsApplication - No active profile set, falling back to default profiles: default
13:12:53.394 10815 [main] INFO  c.o.practice.bts.BtsApplication - Started BtsApplication in 9.666 seconds (JVM running for 11.398)
13:12:53.399 10820 [main] INFO  c.o.practice.bts.BtsApplication - TESTING LOGGER INFO
13:12:53.399 10820 [main] DEBUG c.o.practice.bts.BtsApplication - TESTING LOGGER DEBUG
13:13:05.094 2072 [main] INFO  c.o.practice.bts.BtsApplication - Starting BtsApplication on OPTIMUS with PID 1352 (C:\Users\wozni\Desktop\BankSystem\backend\target\classes started by wozni in C:\Users\wozni\Desktop\BankSystem)
13:13:05.098 2076 [main] DEBUG c.o.practice.bts.BtsApplication - Running with Spring Boot v2.0.3.RELEASE, Spring v5.0.7.RELEASE
13:13:05.102 2080 [main] INFO  c.o.practice.bts.BtsApplication - No active profile set, falling back to default profiles: default
