<div class="bg">
  <div class="container">
    <div class="card bg-card">
      <div class="card-body">
        <h1 class="logo">Bank<span class="brand-color">UI</span></h1>
        <form action="/main">
          <div class="p-2"><input class="form-control form-custom form-control-lg" name="username" value="user1"
                                  type="text" placeholder="username" required></div>
          <div class="p-2"><input class="form-control form-custom form-control-lg" name="password" value="pass1"
                                  type="password" placeholder="password" required></div>
          <div class="p-2"><button type="submit" class="btn btn-custom btn-lg"><span class="text-uppercase">Login</span></button></div>
        </form>
      </div>
    </div>
  </div>
</div>
