.navbar {
  padding: .7rem 1rem;
}
.navbar-brand {
  font-size: 1.8rem;
  font-family: "pt_sansbold", sans-serif;
}
.navbar-brand .brand-color,
.navbar-dark .navbar-nav .active>.nav-link {
  color: rgb(113, 200, 55);
}

.header {
  color: rgb(255, 255, 255);
}
.hd-custom {
  background: rgb(65, 72, 87);
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .9rem;
    padding-left: .9rem;
  }
  .nav-item:last-child {
    border: 1px solid;
    border-color: rgb(108, 117, 125);
  }
}
