<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
<div class="container">
  <a class="navbar-brand" routerLink="/main/dashboard" (click)="isNavbarCollapsed = true">Bank<span class="brand-color">UI</span></a>
  <button (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-stretch" id="navbarsDefault" [ngbCollapse]="isNavbarCollapsed">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/main/dashboard">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/main/new-transfer">New transfer</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/main/transfer-list/2">History</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/main/account-details/2">My account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Logout</a>
      </li>
    </ul>
  </div>
</div>
</nav>


